{% extends "base.html" %}

{% block content %}

<div class="customdiv">
    <h1>Settings:</h1>
</div>

<div class="customdiv">
    <h1>History:</h1>
    
    <!-- Nice table format to display history-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Username</th>
                <th>Start Range</th>
                <th>End Range</th>
                <th>Correct Number</th>
                <th>Number of Guesses</th>
            </tr>
        </thead>
        <tbody>
            {% for game in history %}
                <tr>
                    <td>{{ game.user.username }}</td>
                    <td>{{ game.start_range }}</td>
                    <td>{{ game.end_range }}</td>
                    <td>{{ game.correct_number }}</td>
                    <td>{{ game.number_of_guesses }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="customdiv">
    <a class="customa" href="{{ url_for('guess_the_number') }}">Play Game!</a>
    <br>
    <a class="customa" href="{{ url_for('guess_the_number_settings') }}">Settings</a>
</div>
        






{% endblock %}
