{% extends "base.html" %}

{% block content %}

<div>
    <h1>Welcome to my Final Project for CS50x!</h1>
</div>

<div>
    <h2>What is this?</h2>
    <p>This is a web application that allows users to play Guess The Number!</p>

    <p>The Project should highlight my understanding of the following programming languages:
        <ul>
            <li>Python</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ul>
    </p>

    <p>This project should also highlight my understanding of working with Databases</p>
    <p>I will use SQLAlchemy to persist data required for the Guess the Number game:
        <ul>
            <li>Users</li>
            <li>Games</li>
            <li>Guesses</li>
            <li>Settings</li>
        </ul>
    </p>

    <p>Enjoy!</p>
</div>

{% endblock %}
