{% extends "base.html" %}

{% block content %}

<div class="customdiv">
    <h1>Welcome to my Final Project for CS50x!</h1>
</div>

<div class="customdiv">
    <h2>What is this?</h2>
    <p class="customp">This is a web application that allows users to play Guess The Number!</p>

    <p class="customp">The Project should highlight my understanding of the following programming languages:
        <ul class="customul">
            <li class="customli">Python</li>
            <li class="customli">HTML</li>
            <li class="customli">CSS</li>
            <li class="customli">JavaScript</li>
        </ul>
    </p>

    <p class="customp">This project should also highlight my understanding of working with Databases</p>
    <p class="customp">I will use SQLAlchemy to persist data required for the Guess the Number game:
        <ul class="customul">
            <li class="customli">Users</li>
            <li class="customli">Games</li>
            <li class="customli">Guesses</li>
            <li class="customli">Settings</li>
        </ul>
    </p>

    <p class="customp">Enjoy!</p>
</div>

{% endblock %}
